@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 5px;
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornsilk;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@media (max-width: 600px) {
  #post {
    width: 90%;
  }
}

#app {
  text-align: center;
}

#main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-container {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}